body{
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100vw; 
 }

 .schedul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 5px;
  grid-auto-rows: minmax(80px, auto);
  background-color: #f1f1f1;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
    
 }
 .schedul .schedul__header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  background-color:white; 
  }

  .schedul .schedul__details{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:white;
  
  }

.schedul > .schedul__data {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  /* margin:2em 0.5em ; */
 }

 .schedul .schedul__calendar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
  .schedul .schedul__btn {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  background-color: white;
    
  }
 
 .schedul__details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(30px, auto);
  background-color: #f1f1f1;
  padding: 1em;
  border-radius: 5px;
}
.schedul__details__section{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  }


.schedul__details__doctors {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.schedul__data__form{
  padding: 0.5em 0.5em;
  text-align: left;
  margin: 1.5em ;

}

.schedul__data__form input[type=email], input[type=text]{
  width: 100%;
  padding: 1em 1em;
  margin: 1em;    
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.schedul__data .schedul__data__form label{
  font-weight: bold;
  position:absolute;
  margin: -10px;
  margin-left:5px ; 

}

.schedul__btn{
  display: inline-block;
  text-align: center;
  
}

.schedul__btn .schedul__btn__btn1, .schedul__btn__btn2, .schedul__btn__btn3{
    
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 13px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 10em;
    cursor: pointer;
    text-decoration: none;
    transition:.3s ease;
    font-family:Arial;
      
}
.schedul__btn__btn2{
  background-color: red;
 
}
.schedul__btn__btn3{
  background-color: orange;
 
}




.schedule__calendar {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  letter-spacing: 0.1em;

}

.schedule__calendar__month {
  grid-column-start: 2;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: medium;
  text-align: center;
}

.schedule__calendar__left_week_btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}
.schedule__calendar__right_week_btn {
  grid-column-start: 16;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}

.schedule__calendar__left_month_btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
  
}
.schedule__calendar__right_month_btn {
  grid-column-start: 16;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}




.schedule__calendar__inside {
  display: grid;
  grid-column: 2/ span 14;
  grid-row-start: 2;
  
  grid-template-columns: repeat(14, 1fr);  
  grid-template-rows: auto;
  

}
.schedule__calendar__inside__head {
  
  grid-column: auto / span 2;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.schedule__calendar__inside__hours_btn {
  
  grid-column: auto / span 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}
.schedule__calendar__inside__down_btn {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 8;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}

.schedule__calendar__inside__up_btn {
  grid-column-start: 8;
  grid-column-end: 15;
  grid-row-start: 7;
  grid-row-end: 8;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: medium;
  text-align: center;
  border: none;
}




.schedule__calendar__inside__hours_btn__open{

  background-color: green;
  color: white;
  cursor: pointer;
  justify-self: stretch;
}

.hover-value {
  /* visibility: collapse; */
  -webkit-transition: width 2s ease-in-out;
  transition: width 3s;
  overflow: hidden;
  display:none;
  top:3px;
  position:relative;
  font-size: small;
}


.schedule__calendar__inside__hours_btn__closed{
  border-radius: 5px;
  background-color: grey;
  color: white;
  padding: 7px 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.schedule__calendar__inside__hours_btn__open{
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: 7px 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.schedule__calendar__inside__hours_btn__bussy:hover .hover-value {
  visibility: visible;
  display: block;
}

.schedule__calendar__inside__hours_btn__bussy
{
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 7px 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.calendar_select{
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: 7px 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
}


